body {
  background-image: url("Show pic speia.jpg");
  font-family: UnifrakturCook
}
header{
margin: 0;
}
header h1{
margin: 0;
}
nav ul{
margin: 0;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
	margin: 5px;
}